/* 
### TYPOGRAPHY

- SPACING (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

### COLORS

Primary: 
Yellow: #ffc278;
Blue: #5e8298;

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/hero-img.webp);
  background-size: cover;
  background-position: bottom left;
  height: 100vh;
  background-attachment: fixed;
}

/*//////////////////////////// GENERAL ////////////////////////////////*/

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 500;
  color: #ffc278;
  margin-bottom: 6rem;
}

.border-top-blur::before {
  content: "";
  height: 1px;
  left: 50%;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  transform: translate(-50%, 0);
  width: 100%;
  position: absolute;
  top: 0;
  filter: blur(9px);
}

.section--border-top::before {
  content: "";
  height: 1px;
  border-top: 1px solid;
  background-image: radial-gradient(#fff, transparent);
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  position: absolute;
  top: 0;
  filter: blur(0px) brightness(250%) saturate(150%);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  border-radius: 1000rem;
  padding: 1.2rem 2.4rem;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
}

/*/ /////////////////////////// HEADER ////////////////////////////////*/

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 4rem 0 2rem;
  height: 8rem;
  position: relative;
}

.logo-header {
  color: #fff;
  filter: grayscale(100%) brightness(150%);
  height: 6rem;

  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translate(0, -50%);

  transition: all 0.2s;
}

.logo-header:hover {
  filter: none;
}

.btn-contact:link,
.btn-contact:visited {
  padding: 1rem 2.2rem;
  background-color: transparent;

  border: 2px solid #ffc278;
  border-radius: 1.2rem;

  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;

  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translate(0, -50%);

  transition: all 0.3s;
}

.btn-contact:hover,
.btn-contact:active {
  background-color: #ffc278;
  color: #000;
}

/*//////////////////////////// NAVIGATION ////////////////////////////////*/

.main-nav-list {
  display: flex;
  gap: 4.4rem;
  list-style-type: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #fdfdfd;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 600;
  position: relative;
}

.main-nav-link:hover {
  color: #ffc278;
}

.main-nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.1rem;
  bottom: -0.4rem;
  left: 0;
  background-color: #ffc278;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.main-nav-list .main-nav-link:hover::before {
  transform: scaleX(1);
}

/* MOBILE ///////////////////////////////////////////////////////////////////*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .main-header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #203041;
}

.sticky .section-hero {
  margin-top: 8rem;
}

/*/ /////////////////////////// HERO SECTION ////////////////////////////////*/

.section-hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 130rem;
  padding: 0 9.6rem;
}

.text-box-hero {
  padding: 15rem 0;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 1px;
}

h1 span {
  display: block;
}

h1 strong {
  color: #ffc278;
}

.heading-break-1,
.heading-break-2 {
  display: none;
}

/*//////////////////////////// PROJECTS SECTION ////////////////////////////////*/

.section-projects {
  padding: 12.8rem 0;
  background-image: linear-gradient(transparent, #203041);
  backdrop-filter: blur(3px);
  position: relative;
}

.grid--projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 6rem;
}

/*/ /////////////////////////// PROJECT CARDS ////////////////////////////////*/

.project-card,
.project-overlay {
  height: 44rem;
  width: 54rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #ddd;
  justify-self: center;
  align-items: center;
  border-radius: 1.6rem;
}

.project-card:hover {
  cursor: pointer;
}

.project-card:hover .project-overlay {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.project-card:hover .project-img {
  filter: blur(3px);
}

.project-title {
  font-size: 2.4rem;
  transition: all 0.5s;
  color: #fff;
}

.project-overlay {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  transition: all 0.5s;
  padding: 3.2rem;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 1.6rem;
}

.project-overlay span {
  color: #ffc278;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s;
}

.project-overlay span:hover {
  color: #fff;
}

.project-img {
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  transition: all 0.5s;
  max-width: 80%;
  max-height: 80%;
}

.project-btn-box {
  display: flex;
  justify-content: space-between;
}

.project-btn:link,
.project-btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
  background-color: #fff;
  border-radius: 1000rem;
  padding: 1.2rem 2.4rem;
  transition: all 0.5s;
}

.project-btn:hover {
  background-color: #ffc278;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
}

.project-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;

  background-color: #f7f7f7;
  /* padding: 4rem; */
  border-radius: 0.8rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.project-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 9998;
}

.project-modal,
.project-modal-overlay {
  transition: all 0.5s;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 3rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.2s;
}

.close-modal:hover {
  color: #ffc278;
}

.modal-title {
  color: #333;
  font-size: 2.4rem;
}

.modal-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.modal-img {
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  transition: all 0.5s;
  max-width: 100%;
  max-height: 100%;
}

.modal-img-box {
  height: 60%;
  background-color: #e7e7e7;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4.8rem;
}

.modal-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  padding: 2.4rem 3.6rem 3.6rem 3.6rem;
  gap: 1.2rem;
}

.modal-btn {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  background-color: #203041;
}

.modal-btn:hover {
  background-color: #5e8298;
}

/* ABOUT ME SECTION /////////////////////////////////////////////////////*/

.section-about {
  background-color: #203041;
  padding: 12rem 0 16rem;
  position: relative;
}

.grid--about {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}

.about-text {
  color: #fff;
  font-size: 2.4rem;
}

.about-img-box {
  align-self: center;
  justify-self: center;
  padding: 12.5rem;
  background-color: #ffc278;
  border-radius: 1000rem;
}

/* FOOTER /////////////////////////////////////////////////////////////////////*/

footer {
  background-color: #203041;
  position: relative;
  padding: 6.4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
}

.logo-footer {
  height: 8rem;
  transition: all 0.5s;
}

.logo-footer:hover {
  filter: grayscale(100%);
}

.icon-box {
  display: flex;
  gap: 3.2rem;
}

.icon-footer {
  color: #f7f7f7;
  height: 3rem;
  width: 3rem;
  transition: all 0.5s;
}

.icon-footer:hover {
  color: #ffc278;
  height: 3rem;
  width: 3rem;
}
