/* 
### TYPOGRAPHY

- SPACING (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

### COLORS

Primary: 
Yellow: #ffc278;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*//////////////////////////// GENERAL ////////////////////////////////*/

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*/ /////////////////////////// HEADER ////////////////////////////////*/

header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 4rem 0 2rem;
  height: 8rem;
  position: relative;
}

.logo {
  color: #fff;
  filter: grayscale(100%) brightness(150%);
  height: 6rem;
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translate(0, -50%);
  transition: all 0.2s;
}

.logo:hover {
  filter: none;
}

.btn-contact:link,
.btn-contact:visited {
  background-color: #fdfdfd;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem 2.2rem;
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 1.2rem;
  color: black;
  font-weight: 500;
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translate(0, -50%);
}

.btn-contact:hover,
.btn-contact:active {
  background-color: #ffc278;
  box-shadow: 0rem 0rem 1rem 0.1rem rgb(255, 194, 120);
}

/*//////////////////////////// NAVIGATION ////////////////////////////////*/

.main-nav-list {
  display: flex;
  gap: 4.4rem;
  list-style-type: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #fdfdfd;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 600;
  position: relative;
}

.main-nav-link:hover {
  color: #ffc278;
}

.main-nav-link::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 0.1rem;
  bottom: -0.4rem;
  left: 0;
  background-color: #ffc278;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.main-nav-list .main-nav-link:hover::before {
  transform: scaleX(1);
}

/* MOBILE ///////////////////////////////////////////////////////////////////*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(5px);
}

.sticky .section-hero {
  margin-top: 8rem;
}

/*/ /////////////////////////// HERO SECTION ////////////////////////////////*/

.hero-img-box {
  background-image: url(../img/hero-img.jpg);
  background-size: cover;
  background-position: bottom left;
  height: 100%;
  /* position: relative; */
}

.section-hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 130rem;
  padding: 0 9.6rem;
}

.text-box-hero {
  padding: 15rem 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 1px;
}

h1 span {
  display: block;
}

h1 strong {
  color: #ffc278;
}

.heading-break-1,
.heading-break-2 {
  display: none;
}

/*//////////////////////////// PROJECTS SECTION ////////////////////////////////*/

.container::before {
  content: '';
  position: absolute;
  display: block;
  width: 90%;
  height: 0.1rem;
  bottom: -0.4rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #5e8298;
}

.section-projects {
  padding: 9.6rem 0;
  background-color: #101113;
  position: relative;
}

.section-projects__title {
  font-size: 4.4rem;
  font-weight: 500;
  color: #ffc278;
  margin-bottom: 6rem;
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 6rem;
}

/*/ /////////////////////////// PROJECT CARDS ////////////////////////////////*/

.project-card,
.project-overlay {
  height: 44rem;
  width: 54rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #ddd;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.project-card:hover {
  cursor: pointer;
}

.project-card:hover .project-overlay {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.project-card:hover .project-img {
  filter: blur(2px);
}

.project-title {
  font-size: 2.4rem;
  transition: all 0.5s;
  color: #fff;
}

.project-overlay {
  /* Hide visually */
  opacity: 0;
  /* Make unaccessible to mouse and keyboard */
  pointer-events: none;
  /* Hide from screen readers */
  visibility: hidden;

  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  transition: all 0.5s;
  padding: 3.2rem;
  z-index: 9998;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-img {
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  transition: all 0.5s;
}

#crux-screenshot {
  max-width: 80%;
}

#calc-screenshot {
  max-width: 80%;
  max-height: 80%;
}

.project-tools-grid {
  list-style: none;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3.2rem;
}

.project-tool {
  justify-self: center;
  font-size: 1.4rem;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.project-link:link,
.project-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
  background-color: #fff;
  border-radius: 1000rem;
  padding: 1.2rem 2.4rem;
  transition: all 0.5s;
}

.project-link:hover {
  background-color: #ffc278;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
  /* color: #fff; */
}

/* ABOUT ME SECTION /////////////////////////////////////////////////////*/

.section-about {
  background-color: #101113;
  padding: 9.6rem 0;
}

.grid-about {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}

.about-text {
  color: #fff;
  font-size: 2.4rem;
}

.img-box {
  align-self: center;
  justify-self: center;
  padding: 12.5rem;
  background-color: #ffc278;
  border-radius: 1000rem;
}
