body {
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(to top left, #a9ffe4, #e8e8e8);
  height: 100vh;
  color: black;
}

h1 {
  font-size: 60px;
}

.nav-button {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  width: 200px;
  height: 100px;
  background-color: #cfcfcf;
  border: none;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.nav-button:hover {
  background-color: #7afbd2;
  color:black;
  text-transform: lowercase;
  cursor:pointer;
}

.return-button {
  width: 200px;
  height: 50px;
  background-color: #cfcfcf;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.return-button:hover {
  background-color: #7afbd2;
  color:black;
  text-transform: lowercase;
  cursor:pointer;
  }

h2 {
  font-size: 40px;
}

.projects {
  list-style-type: square;
  color: #5e5e5e;
}

.project-link {
  color: #5e5e5e;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.project-link:hover {
  color: #7afbd2;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
