/* CSS COMMENT 
ctrl + / 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to top left, #28b487, #7dd56f);
    align-items: center;
    padding: 75px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;

}