@use "../abstracts/mixins" as *;

////////////////////////////////////////////////////////////////////
// BACKGROUND IMAGE

body {
  background-image: url(../../img/hero-img.webp);
  background-size: cover;
  background-position: bottom left;
  background-attachment: fixed;

  @include respond(600) {
    background-image: url(../../img/hero-img-mobile.webp);
    background-position: bottom right;
  }
}

////////////////////////////////////////////////////////////////////
// HERO SECTION

.section-hero {
  height: 90vh;
}

////////////////////////////////////////////////////////////////////
// PROJECTS SECTION

.section-projects {
  @include section-border-top-blur;
  background-image: linear-gradient(transparent, var(--color-blue-primary));
  backdrop-filter: blur(3px);
}

.projects-text {
  color: var(--color-text-light);
  font-size: 2.6rem;
  margin-bottom: 4rem;

  @include respond(1000) {
    text-align: center;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;

  @include respond(1200) {
    gap: 4.4rem;
  }

  @include respond(800) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

////////////////////////////////////////////////////////////////////
// SKILLS SECTION

.section-skills {
  @include section-border-top;
  background-color: var(--color-blue-primary);
}

.skills-grid {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
  column-gap: 2.4rem;
  max-width: 80rem;
  margin: 6.4rem auto;

  @include respond(600) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }
}

.skills-grid:nth-of-type(2) {
  margin-bottom: 0;
}

.skills-text {
  color: #f7f7f7;
  font-size: 2.6rem;

  @include respond(1000) {
    text-align: center;
  }
}

////////////////////////////////////////////////////////////////////
// ABOUT SECTION

.section-about {
  @include section-border-top;
  background-color: var(--color-blue-primary);
  position: relative;

  @include respond(1000) {
    padding: 0 8rem;
  }

  @include respond(600) {
    padding: 0;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  gap: 6.4rem;

  @include respond(1000) {
    grid-template-columns: 1fr;
  }

  &__text {
    color: var(--color-text-light);
    font-size: 2.2rem;

    @include respond(600) {
      text-align: center;
    }
  }

  &__img {
    background-color: var(--color-orange-primary);
    padding: 1.2rem;
    border-radius: 1000rem;
    height: 24rem;
    align-self: center;
    justify-self: center;
  }
}
