body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-top: 20px solid #6fca6f;
  border-bottom: 20px solid #6fca6f;
}

.return-home {
  color:#6fca6f;
  font-size: 20px;
}

.return-home:hover {
  text-decoration: none;
  color: #6fca6f;
}

h2 {
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.price {
  font-size: 24px;
}

.shipping {
  color: #8d8d8d;
  text-transform: uppercase;
}

.more-info {
  color:#6fca6f;
}
.more-info:hover {
  text-decoration: none;
  color:#6fca6f;
}

.pass-details {
  list-style-type: square;
}

.add-cart {
  background: #6fca6f;
  width:200px;
  height:100px;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size:16px;
}

.add-cart:hover {
  background: white;
  width:200px;
  height:100px;
  color: #6fca6f;
  text-transform: uppercase;
  border: solid 3px #6fca6f;
  font-size:16px;
}