@use "../abstracts/mixins" as *;

.heading-primary {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-text-light);
  letter-spacing: 1px;
  animation: moveInRight 1.5s;
  margin: 15rem 9.6rem 0 9.6rem;

  strong {
    color: var(--color-orange-primary);
  }

  @include respond(1400) {
    font-size: 4.4rem;
    margin: 15rem 7.2rem 0 7.2rem;
  }

  @include respond(1200) {
    margin: 16.5rem 6.4rem 0 6.4rem;
  }

  @include respond(1000) {
    margin-top: 17.5rem;
  }

  @include respond(800) {
    text-align: center;
    gap: 1.6rem;
  }

  @include respond(600) {
    margin-top: 18.5rem;
    padding: 0 1.2rem;
    font-size: 4rem;
  }

  &__br-1,
  &__br-2 {
    display: none;

    @include respond(800) {
      display: block;
    }
  }
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--color-orange-primary);
  margin-bottom: 5rem;
  text-transform: uppercase;

  @include respond(1000) {
    text-align: center;
  }
}
