@use "../abstracts/mixins" as *;

////////////////////////////////////////////////////////////////////
// NAVIGATION

// MAIN NAVIGATION

.nav {
  @include respond(1000) {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    z-index: 998;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &__list {
    display: flex;
    gap: 4.4rem;
    list-style-type: none;

    @include respond(1000) {
      flex-direction: column;
      gap: 6rem;
      align-items: center;
    }
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    color: #fdfdfd;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 600;
    position: relative;

    @include respond(1000) {
      font-size: 3rem;
    }
  }

  &__link:hover {
    color: var(--color-orange-primary);
  }

  &__link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.1rem;
    bottom: -0.4rem;
    left: 0;
    background-color: var(--color-orange-primary);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &__link.active {
    color: var(--color-orange-primary);

    &::before {
      transform: scaleX(1);
    }
  }

  &__list &__link:hover::before {
    transform: scaleX(1);
  }

  // MOBILE NAVIGATION

  &__btn-mobile {
    border: none;
    background: none;
    display: none;

    padding: 4rem;
    border: none;
    border-radius: 1000rem;
    z-index: 1000;
    cursor: pointer;
    position: relative;

    @include respond(1000) {
      display: block;
    }

    &-bar {
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4rem;
      transition: all 0.2s;
    }
  }
}

// STICKY NAVIGATION

.sticky .header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 8rem;
  background-color: var(--color-blue-primary);
}

.sticky .section-hero {
  margin-top: 8rem;
}

@include respond(1000) {
  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }
}
