@use "../abstracts/mixins" as *;

////////////////////////////////////////////////////////////////////
// HEADER

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 4rem;
  height: 8rem;
  position: relative;

  &__logo {
    filter: grayscale(100%) brightness(150%);
    height: 6rem;

    position: absolute;
    display: block;
    top: 50%;
    left: 2.4rem;
    transform: translateY(-50%);

    transition: all 0.2s;
  }

  &__logo:hover {
    filter: none;
  }

  &__btn-contact {
    &:link,
    &:visited {
      text-transform: uppercase;
      position: absolute;
      right: 2.4rem;
      top: 0;
      transform: translateY(50%);

      @include respond(1000) {
        display: inline-block;
        position: static;
        font-size: 2.4rem;
        padding: 1.6rem 3.2rem;
      }
    }

    &:hover {
      transform: translateY(calc(50% - 0.4rem));
    }

    &:active {
      transform: translateY(calc(50% - 0.1rem));
    }
  }
}
